<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/signin.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="nondv">
            <div class="inner-block">
                <div class="logo">
                    <img src="/static/logo.jpg" alt="">
                </div>
                <div class="subtitle">Здесь должен быть слоган</div>
            </div>
        </div>
        <div class="separator">
            <div class="bordered"></div>
        </div>
        <div class="form">
            <h1>Sign In</h1>
            <form method="POST" action="/account/login/" class="mt-40px">
                <input type="text" class="form-input" placeholder="Email" name="email">
                <input type="password" class="form-input mt-20px" placeholder="Пароль" name="pass">
                <button type="submit" class="mt-40px">Continue</button>
            </form>
            <span class="mt-20px">Нет аккаунта? <a href="/account/register/">Зарегистрироваться!</a></span>
            <a href="">Забыл пароль</a>
        </div>
    </div>
</body>
</html>